/**{
 margin: 0px;
 padding: 0px;
}*/

/**{
  outline: 1px dotted red;
}*/

#container {
  height: 900px;
  width: 970px;
  background: #12355B;
  padding-top: 5px;
}

#header {
  height: 100px;
  width: 940px;
  background: #D72638;
  margin: 0px 0px 0px 5px;
  padding-left: 20px;
  border-radius: 20px;
  line-height: 100px;
}

h1{
  vertical-align: middle;
  color: white;
}

#body {
  height: 700px;
  width: 970px;
}

#navigation {
  height: 275px;
  width: 250px;
  background: #087E8B;
  margin: 20px 0px 0px 5px;
  display: inline-block;
  float: left;
  border-radius: 20px;
}

#text {
  height: 660px;
  width: 630px;
  background: #0C1821;
  color: white;
  display: inline-block;
  margin: 20px 0px 0px 20px;
  padding: 0px 20px 0px 38px;
  border-radius: 20px;
}

#footer {
  height: 50px;
  width: 940px;
  background: #5C6672;
  margin: 0px 0px 0px 5px;
  padding-left: 20px;
  border-radius: 20px;
  color: white;
  line-height: 50px;
}

a:link {
  color: #2199AD;
}

a:visited {
  color: #2199AD;
}

a:hover {
  color: #2199AD;
}

a:active {
  color: #2199AD;
}
